extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Kervintz Noel

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hi, My name is Kervintz. I am a Software Engineer with an 8 year background in Desktop Support. My focus is now on Full Stack Web Development. I use the MERN Stack to develop fully flege application from the begining to the end. I would love the opportunity to put my expertise to work for your company.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li React
          li Node.js
          li SQL
          li JavaScript
          li jQuery
          li HTML
          li CSS
          li GitHub
          li Slack 
        h6 Contact Info

        //- Add your own contact info
        ul
          li kervintznoel@outlook.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/kervintznoel/') LinkedIn
        a.button.expanded(href='https://github.com/kervcode') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  